.filter-container {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  }
  
  .filter-label {
  font-size: 18px;
  margin-left: 20px;
  margin-right: 15px;
  }
  
  .filter-select {
  display: flex;
  width: 50px; 
  padding: 1px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-right: 2rem;
  }
  
  .filter-select:last-child {
  margin-right: 0;
  }