.container {
  font: caption;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  background-color: rgb(151, 133, 106);
}

.title {
  font: caption;
  font-size: 3rem;
  margin-bottom: 2rem;
  color: aliceblue;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.5rem;
  }
}