.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("./world-map-wallpaper-3554x1999_53.jpg");
}

h1 {
  font: caption;
  font-size: 3rem;
  font-weight: bold;
  color: #a1acba;
  margin-bottom: 1rem;
  text-align: center;
}

p {
  font: caption;
  font-size: 1.5rem;
  color: #a1acba;
  margin-bottom: 2rem;
  text-align: center;
}

.button {
  background-color: #F5E5D5;
  border: none;
  color: #253D5B;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: #F2D2B2;
}
